.about {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
  padding-top: 0px;
}
.about-header {
  margin-bottom: 72px;
}

.about-img {
  display: block;
}
.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.about-list-item {
  flex-basis: calc((100% - 72px) / 4);
}
