.advantage-list {
  display: flex;
  row-gap: 72px;
  column-gap: 24px;
  flex-wrap: wrap;
}
.advantage-list-item {
  max-width: 100%;
  @media screen and (min-width: 768px) {
    max-width: calc((100% - 24px) / 2);
  }
  @media screen and (min-width: 1200px) {
    max-width: calc((100% - 72px) / 4);
  }
}
.advantage-icon {
  display: none;
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--light-color);
    border-radius: 4px;

    height: 112px;
    margin-bottom: 8px;
  }
}

.advantage-list-name {
  @media screen and (min-width: 768px) {
    text-align: left;
  }
  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  margin-bottom: 8px;
}
.advantage-list-desc {
  font-weight: 500;
  @media screen and (min-width: 1200px) {
    font-weight: 500;
  }
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--text-color);
}
