.footer-div {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: start;
    justify-content: start;
    padding-left: 108px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 15px;
  }
  row-gap: 72px;
  column-gap: 24px;
}
.footer-logo-div {
  align-self: center;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    margin-right: 120px;
  }
}

.footer-section {
  background: var(--dark-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-text {
  max-width: 264px;

  color: var(--accent-color);
}
.footer-section .logotype {
  display: block;
  margin-bottom: 16px;
  align-self: center;
  justify-content: center;

  color: var(--light-color);
}
