.order-servise-btn {
  padding: 16px 32px 16px 32px;
  border: none;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--white-color);

  background-color: var(--primary-brand-color);
  transition: background-color var(--transition-time-func),
    box-shadow var(--transition-time-func);

  cursor: pointer;
}

.order-servise-btn:focus,
.order-servise-btn:hover {
  background-color: var(--pressed-state-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.filter-btn {
  padding: 11px 23px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--light-color);

  color: var(--primary-brand-color);
  cursor: pointer;
  transition: background-color var(--transition-time-func),
    color var(--transition-time-func), border-color var(--transition-time-func),
    box-shadow var(--transition-time-func);
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--pressed-state-color);
  color: var(--white-color);
  border-color: var(--pressed-state-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  border: 1px solid var(--light-blackr);
  background-color: var(--accent-color);
  border-radius: 50%;
  transition: border-color var(--transition-time-func),
    background-color var(--transition-time-func),
    box-shadow var(--transition-time-func);

  cursor: pointer;
}

.modal-close-btn-icon {
  transition: fill var(--transition-time-func);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--white-color);
}
.subscribe-btn {
  display: flex;
  align-items: center;

  min-width: 165px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--white-color);

  background-color: var(--primary-brand-color);
  transition: background-color var(--transition-time-func),
    box-shadow var(--transition-time-func);

  cursor: pointer;
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--pressed-state-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe-btn-text {
  margin-right: 16px;
}
.subscribe-btn-icon {
  fill: currentColor;
}
.subscribe-lbl {
  display: block;
  margin-bottom: 16px;
}
