.blue-btn {
  padding: 16px 32px;
  border: none;
  border-radius: 4px;

  background-color: var(--primary-brand-color);
  transition: background-color var(--transition-time-func),
    box-shadow var(--transition-time-func);

  cursor: pointer;
}

.blue-btn:focus,
.blue-btn:hover {
  background-color: var(--pressed-state-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
